[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/gli"]
	path = external/gli
	url = https://github.com/g-truc/gli.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
